.places {
  max-width: 100%;
  margin: 0 auto;
  padding: 92px 148px;
  box-sizing: border-box;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 48px;
  column-gap: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.place:last-child {
  padding-bottom: 0;
}

.place__title {
  max-width: 100%;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

.place__website {
  max-width: 456px;
  align-self: end;
}

.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0;
  padding-bottom: 12px;
}

.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.place__image {
  max-width: 100%;
}

.place__text {
  max-width: 100%;
}

.place__paragraph {
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 92px 48px;
  }

  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }

  .place__paragraph {
    padding-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 90px;
  }

  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    padding-bottom: 73px;
  }

  .place__title {
    max-width: 97%;
    font-size: 42px;
    line-height: 1.1;
  }
  
  .place__website {
    max-width: 352px;
  }

  .place__paragraph {
    padding-bottom: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 64px 0px 66px;
  }

  .place {
    grid-template-columns: 320px;
    column-gap: 28px;
    padding-bottom: 73px;
  }

  .place__title {
    max-width: 100%;
  }
}

/*
.place__website {
  max-width: 456px;
  align-self: end;
}

.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0;
  padding-bottom: 12px;
}

.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.place__image {
  max-width: 100%;
}

.place__text {
  max-width: 100%;
}

.place__paragraph {
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
} */