.places {
  max-width: 100%;
  margin: 0 auto;
  padding: 90px 148px 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .places {
    padding: 91px 48px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 90px 24px 90px;
  }
}

@media screen and (max-width: 560px) {
  .places {
    padding: 0px 0px 66px;
  } 
}