.intro {
  padding-top: 92px;
}

.intro__container {
  max-width: 690px;
  margin: 0 442px 0 148px;
  box-sizing: border-box;
}

.intro__title {
  width: 100%;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

.intro__text {
  width: 100%;
  margin: 40px 0 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}
.intro__list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list_number {
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .intro__container {
    margin: 0 286px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
  }

  .intro__container {
    max-width: 720px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-top: 64px;
  }

  .intro__container {
    max-width: 288px;
    margin: 0 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
  
  .intro__text {
    margin-bottom: 34px;
  }
}