.cover {
  box-sizing: border-box;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: calc(100% - 48px*2);
  aspect-ratio: 8/5;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
  }
}