.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 48px;
  column-gap: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    row-gap: 47px;
    column-gap: 28px;
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 330px 1fr;
    gap: 32px;
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 560px) {
  .place {
    grid-template-columns: 320px;
  }
}