.footer {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 92px 48px 24px;
}

.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 18px;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}